.container {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
}

.header {
    color: #274464;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newCaseButton {
    padding: 10px 20px;
    background-color: #274464;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-right: 100px;
}

.newCaseButton:hover {
    background-color: #274464;
}

.caseTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

.caseTable th, .caseTable td {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    text-align: left;
}

.caseTable th {
    font-size: 14px;
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.caseTable td {
    font-size: 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalContent h2 {
    margin-top: 0;
}

.modalContent label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
}

.modalContent input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.modalActions button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalActions button:first-child {
    background-color: #274464;
    color: white;
}

.modalActions button:last-child {
    background-color: #f4f4f4;
    color: #000;
}

.modalContent select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.deleteButton {
    padding: 5px 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #c5a683;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #a07c60;
}
